* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    background-color: #3868D6;
    color: white;
}

nav .menu {
    list-style: none;

}

.menu li {
    float: left;
    padding: 12px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.sobre {
    display: grid;
    grid-template-columns: 35% 65%;
}

.sobre h2 {
    border-bottom: 4px solid #3868D6;
    padding: 0 0 16px;
    color: #3868D6;
    margin-bottom: 32px;
    font-size: 1.5em;

}

.sobre {
    font-size: 1em;

}


.sobre img {
    max-width: 100%;

}

section {
    margin-bottom: 64px;
}

.produtos>h2 {
    border-bottom: 4px solid #3868D6;
    padding: 0 0 16px;
    color: #3868D6;
    margin-bottom: 32px;
    font-size: 1.5em;
}

.conteudoProdutos article img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
}

.conteudoProdutos article img:hover {
    border: 2px solid #3868D6;
    cursor: pointer;
}

.conteudoProdutos {
    margin-bottom: 56px;
}



.conteudoProdutos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
}

.conteudoProdutos h2 {
    font-size: 1.3em;
    margin-bottom: 12px;
}

.conteudoProdutos p {
    font-size: 1em;
    margin-bottom: 12px;
}

.conteudoProdutos button {
    width: 100%;
    height: 32px;
    border: none;
    color: white;
    background-color: #3868D6;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .sobre {
        display: block;
        font-size: 1.5em;
    }

    .sobre img {
        margin-bottom: 16px;
        width: 100%;
    }

    .conteudoProdutos {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 1%;
    }

    .conteudoProdutos h2 {
        font-size: 1.8em;
        font-weight: bolder;
    }

    .conteudoProdutos p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        padding: 0;
        margin: 0;
    }

    .menu li a {
        display: block;
        padding: 0;
    }

    .menu li {
        display: block;
        padding: 8px;
    }

    .container {
        max-width: 90%;
    }

    .sobre {
        display: block;
    }

    .sobre img {
        margin-bottom: 56px;
        width: 100%;
    }

    .conteudoProdutos {
        display: grid;
        grid-template-columns: 98%;
        row-gap: 2%;
    }

    .conteudoProdutos button
    {
        margin-bottom: 16px;
    }
}